form { 
    display: flex;
    background-color: #3e3e3e;
    color: black;
    border-radius: 20px;
    padding: 20px;
    flex-direction: column;
    gap: 10px;
    box-shadow: 0 0 10px 5px rgba(11, 86, 224, 0.7);
    animation: rgbGlow 5s linear infinite;
}

@keyframes rgbGlow {
    0% {
        box-shadow: 0 0 10px #ff0000, 0 0 20px #ff0000; 
    }
    33% {
        box-shadow: 0 0 10px #00ff00, 0 0 20px #00ff00; 
    }
    66% {
        box-shadow: 0 0 10px #0000ff, 0 0 20px #0000ff; 
    }
    100% {
        box-shadow: 0 0 10px #ff0000, 0 0 20px #ff0000; 
    }
}

input {
    border-radius: 5px;
    padding: 10px;
    border: 0;
}

