form { 
    display: flex;
    flex-direction: column;
    background-color: #525252;
    color: black;
    border-radius: 20px;
    max-width: 1000px;
    padding: 85px;
    box-shadow: 0 0 10px 5px rgba(11, 86, 224, 0.7);
    animation: rgbGlow 5s linear infinite;
    text-align: center;
}


p {
    color: rgb(43, 255, 0);
}

input {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    width: 500px;
    padding: 10px;
    border: 0;
}

.inp-btn{
    display: flex;

}

button {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border: 1px solid transparent;
  padding: 0.5em 0.7em;
  font-size: 1em;
  width: 70px;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

@keyframes rgbGlow {
    0% {
        box-shadow: 0 0 10px #ff0000, 0 0 20px #ff0000; 
    }
    33% {
        box-shadow: 0 0 10px #00ff00, 0 0 20px #00ff00; 
    }
    66% {
        box-shadow: 0 0 10px #0000ff, 0 0 20px #0000ff; 
    }
    100% {
        box-shadow: 0 0 10px #ff0000, 0 0 20px #ff0000; 
    }
}


